<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System compliance report</title>
</head>
<body>

<article class="A4">
    <div class="main-page-wrapper">
        <h1 class="main-title">
            System compliance report
        </h1>
    </div>
</article>

<article class="A4">
    <h1 class="main-title">
        System summary
    </h1>
    <div>
        <p> System address: {{ host }} </p>
            System info: <br>
        {% for protocol, audits in audit.items() if audits %}
            <br>
            <p> Protocol: {{ protocol }} </p>
            {% for audit in audits %}
                {{ audit.attribute }}: <br>
                {% for line in audit.value.splitlines() %}
                    {{ line }} <br>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        <br>
        <p> Transports: </p>
        {% for transport in transports %}
            {{ transport.name }}: <br>
            Port: {{ transport.port }} <br>
            User: {{ transport.user }} <br><br>
        {% endfor %}
    </div>
</article>

<article class="A4">
    <h1 class="main-title">
        Compliance summary
    </h1>
    <div>
        <p> Start: {{ start_time }} </p>
        <p> Finish: {{ finish_time }}
        <p> Duration: {{ duration }} </p>
    </div>
    <div>
        <p> Total controls: {{ total_controls }} </p>
        {% for name, count in statuses.items() %}
        {{ name }}: {{ count }} <br>
        {% endfor %}
    </div>
</article>

{% for control in controls %}
<article class="A4">
    <h3>{{ control.title }}</h3>
    <h4>id: {{ control.ID }}</h4>
    <p> Description: {{ control.description }} </p>
    <p> Requirement: {{ control.requirement }} </p>
    <p> System: {{ control.status }}</p>
        {% if control.message %}
    <p> {{ control.message }} </p>
        {% endif %}
        {% if control.status == 'NOT_COMPLIANT' %}
    <p> {{ control.prescription }} </p>
        {% endif %}
</article>
{% endfor %}

</body>
</html>
