<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System compliance report</title>
</head>
<body>

<article class="A4">
    <div class="main-page-wrapper">
        <h1 class="main-title">
            System compliance report
        </h1>
    </div>
</article>

<article class="A4">
    <h1 class="main-title">
        System summary
    </h1>
    <h1 class="main-title">
        Compliance summary
    </h1>
</article>


<article class="A4">
    <h1>
        Page title
    </h1>
    <article>
        <h3>Файл bla-bla должен сущетвовать в корневой директории системы</h3>
        <h4>id:3452213</h4>

        <p> требование: Файл существует </p>
        <p> система: Файл отсутвует </p>
        <p> status: <span class="not-compliant">Не совместимо </span></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante
            dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.
            Fusce
            nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
            Sed
            dignissim lacinia nunc.
        </p>
    </article>
    <article>
        <h3>Файл bla-bla должен сущетвовать в корневой директории системы</h3>
        <h4>id:3452213</h4>

        <p> требование: Файл существует </p>
        <p> система: Файл отсутвует </p>
        <p> status: <span class="not-compliant">Не совместимо </span></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante
            dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.
            Fusce
            nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
            Sed
            dignissim lacinia nunc.
        </p>
    </article>
    <article>
        <h3>Файл bla-bla должен сущетвовать в корневой директории системы</h3>
        <h4>id:3452213</h4>

        <p> требование: Файл существует </p>
        <p> система: Файл отсутвует </p>
        <p> status: <span class="not-compliant">Не совместимо </span></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante
            dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.
            Fusce
            nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
            Sed
            dignissim lacinia nunc.
        </p>
    </article>
    <article>
        <h3>Файл bla-bla должен сущетвовать в корневой директории системы</h3>
        <h4>id:3452213</h4>

        <p> требование: Файл существует </p>
        <p> система: Файл отсутвует </p>
        <p> status: <span class="not-compliant">Не совместимо </span></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante
            dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.
            Fusce
            nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
            Sed
            dignissim lacinia nunc.
        </p>
    </article>
    <article>
        <h3>Файл bla-bla должен сущетвовать в корневой директории системы</h3>
        <h4>id:3452213</h4>

        <p> требование: Файл существует </p>
        <p> система: Файл отсутвует </p>
        <p> status: <span class="not-compliant">Не совместимо </span></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante
            dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.
            Fusce
            nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
            Sed
            dignissim lacinia nunc.
        </p>
    </article>
    <article>
        <h3>Файл bla-bla должен сущетвовать в корневой директории системы</h3>
        <h4>id:3452213</h4>

        <p> требование: Файл существует </p>
        <p> система: Файл отсутвует </p>
        <p> status: <span class="not-compliant">Не совместимо </span></p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante
            dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.
            Fusce
            nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero.
            Sed
            dignissim lacinia nunc.
        </p>
    </article>

</article>

</body>
</html>